# myboard: ESP32-S3, 8 MB quad flash, 8 MB octal PSRAM
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/myboard.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions/myboard.csv"
CONFIG_PURR_BOARD_MYBOARD=y

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
